<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     Team Name:
      <input type="text" name="teamname">
       <br />
      Coach:
       <input type="text" name="coach">

       <br />
       Point Guard:
        <input type="text" name="pointguard">

        <br />
        Shooting Guard:
         <input type="text" name="shootingguard">

         <br />
         Small Forward:
          <input type="text" name="smallforward">

          <br />
          Power Forward:
           <input type="text" name="powerforward">

           <br />
           Center:
            <input type="text" name="center">
            <br />
            <input type="submit"id="Submit">
     </form>
 </body>
</html>
