<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="post">
     <div>
     <label>Team Name:</label>
     <input type="text" name="name" value="">
     </div>
     <div>
     <label>Coach:</label>
     <input type="text" name="coach" value="">
     </div>
     <div>
     <label>Point Guard:</label>
     <input type="text" name="pg" value="">
     </div>
     <div>
     <label>Shooting Guard:</label>
     <input type="text" name="sg" value="">
     </div>
     <div>
     <label>Small Forward:</label>
     <input type="text" name="sf" value="">
     </div>
     <div>
     <label>Power Forward:</label>
     <input type="text" name="pf" value="">
     </div>
     <div>
     <label>Center:</label>
     <input type="text" name="c" value="">
     </div>
     <input type="submit" name="" value="Submit">
   </form>
 </body>
</html>
